<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.SharedTripViewModel"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseManagement"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".SettingsActivity"
            android:label="Settings Section" />
        <activity
            android:name=".SearchActivity"
            android:label="Search Filter" />
        <activity
            android:name=".search.AdvanceSearchActivity"
            android:label="Advance Search"
            android:parentActivityName=".SearchActivity" />
        <activity
            android:name=".expense.UpdateExpenseActivity"
            android:label="Update Trip Expense"
            android:parentActivityName=".MainTripExpensesActivity" />
        <activity
            android:name=".expense.ViewExpenseActivity"
            android:label="View Trip Expense"
            android:parentActivityName=".MainTripExpensesActivity" />
        <activity
            android:name=".expense.AddExpenseActivity"
            android:label="Add Trip Expense"
            android:parentActivityName=".MainTripExpensesActivity" />
        <activity
            android:name=".MainTripExpensesActivity"
            android:label="View Trip Expenses"
            android:parentActivityName=".MainTripActivity" />
        <activity
            android:name=".trip.ViewTripActivity"
            android:label="View Trip"
            android:parentActivityName=".MainTripActivity" />
        <activity
            android:name=".trip.UpdateTripActivity"
            android:parentActivityName=".MainTripActivity" />
        <activity
            android:name=".trip.AddTripActivity"
            android:label="Add Trip"
            android:noHistory="true"
            android:parentActivityName=".MainTripActivity" />
        <activity
            android:name=".MainTripActivity"
            android:exported="true"
            android:label="Management Trips">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>