<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <application
        android:name=".SharedTripViewModel"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseManagementApp">
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".MainTripActivity"
            android:exported="false"
            android:label="Main Activity" />
        <activity
            android:name=".UpdateExpenseActivity"
            android:label="Update Trip Expense"
            android:parentActivityName=".MainTripExpensesActivity" />
        <activity
            android:name=".ViewExpenseActivity"
            android:label="View Trip Expense"
            android:parentActivityName=".MainTripExpensesActivity" />
        <activity
            android:name=".AddExpenseActivity"
            android:label="Add Trip Expense"
            android:parentActivityName=".MainTripExpensesActivity" />
        <activity
            android:name=".MainTripExpensesActivity"
            android:label="View Trip Expenses"
            android:parentActivityName=".MainTripActivity" />
        <activity
            android:name=".ViewTripActivity"
            android:label="View Trip"
            android:parentActivityName=".MainTripActivity" />
        <activity
            android:name=".UpdateTripActivity"
            android:parentActivityName=".MainTripActivity" />
        <activity
            android:name=".AddTripActivity"
            android:label="Add Trip"
            android:noHistory="true"
            android:parentActivityName=".MainTripActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="View Trips">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>